.slider > img {
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: 3px solid lightgrey;
    height: 250px;
    width: 450px;
}

.shortcut > img {
    margin-top: 10px;
    opacity: .5;
    height: 80px;
    width: 150px;
    border: 3px solid lightgrey;
}

.opacity-reset {
    opacity: 1 !important;
}

.shortcut > img:hover {
    opacity: 1;
}

.shortcutList {
    display: inline-flex;
    padding: 0;
}